Converting Data Types

In [1]:
#STRINGS

In [4]:
num_str = '7'
type(num_str)

str

In [ ]:
#NUMBERS

In [3]:
num_int = 7
type(num_int)

int

In [5]:
#If I want to add the 2 values above, I can't unless I convert the string to an integer

In [6]:
num_str_conv = int(num_str)

In [7]:
type(num_str_conv)

int

In [8]:
num_sum = num_int + num_str_conv
print(num_sum)

14

In [9]:
#LISTS, SETS & TUPLES

In [10]:
list_type = [1, 2, 3]
type(list_type)

list

In [11]:
#Converting a list to a tuple

tuple(list_type)

(1, 2, 3)

In [14]:
type(tuple(list_type))

tuple

In [15]:
#Converting a list to a set: note a set does not act the same as a list, a set will take the unique values in a list and converts it to a set- fundamentally changing the values in that list

list_type = [1,2,3,4,3,4,5]

In [16]:
set(list_type)

{1, 2, 3, 4, 5}

In [17]:
type(set(list_type))

set

In [ ]:
#DICTIONARIES

In [18]:
dict_type = {'name': 'Doriane', 'age': '28', 'hair': 'brown'}
type(dict_type)

dict

In [19]:
dict_type.items()

dict_items([('name', 'Doriane'), ('age', '28'), ('hair', 'brown')])

In [20]:
dict_type.values()

dict_values(['Doriane', '28', 'brown'])

In [21]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [22]:
#If we wanted to put all the keys in a list
list(dict_type.keys())

['name', 'age', 'hair']

In [24]:
type(list(dict_type.keys()))

list

In [25]:
type(list(dict_type.values()))

list

In [26]:
long_str = 'I like to party'

list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

In [27]:
#In the set, notice how the output only has unique values

long_str2 = 'I like to party'

set(long_str2)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}